.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .navbar {
  color: #333;
}

.dark-mode .form-control {
  background-color: #222;
  color: #fff;
  border-color: #555;
}

.category-card {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-card:hover .category-text {
  transform: scale(2);
  transition: transform 0.3s ease;
}

